name = "TriangulArt"
uuid = "4e825928-4f37-4da1-b333-216cc9c54310"
authors = ["Jonathan Carroll"]
version = "1.0.0-DEV"

[deps]
DelaunayTriangulation = "927a84f5-c5f4-47a5-9785-b46e178433df"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
Images = "916415d5-f1e6-5110-898d-aaa5f9f070e0"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
PolygonOps = "647866c9-e3ac-4575-94e7-e3d426903924"
PyCall = "438e738f-606a-5dbb-bf0a-cddfbfd45ab0"
StableRNGs = "860ef19b-820b-49d6-a774-d7a799459cd3"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
julia = "1"
Plots = "1"
PolygonOps = "0.1"
FileIO = "1"
StatsBase = "0.34"
Images = "0.26"
DelaunayTriangulation = "0.8"
PyCall = "1"
StableRNGs = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
